attrs==20.3.0
autopep8==2.3.1
beautifulsoup4==4.12.3
black==24.10.0
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
check50==3.3.11
clang-format==19.1.1
click==8.1.7
cryptography==43.0.1
cs50==9.4.0
EditorConfig==0.12.4
Flask==3.0.3
greenlet==3.1.1
icdiff==2.0.7
idna==3.10
itsdangerous==2.2.0
jellyfish==0.11.2
Jinja2==3.1.4
jsbeautifier==1.15.1
lib50==3.0.11
MarkupSafe==3.0.1
mypy==1.12.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.6
ptyprocess==0.7.0
pycodestyle==2.12.0
pycparser==2.22
python-magic==0.4.27
PyYAML==6.0.2
requests==2.32.3
setuptools==75.1.0
six==1.16.0
soupsieve==2.6
SQLAlchemy==2.0.35
sqlparse==0.5.1
style50==2.10.4
termcolor==1.1.0
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
wheel==0.44.0
